:root{
  --text: #fffdf7;
  --background: #171717;
  --primary: #8cc1e9;
  --dark: #12284b;
  --secondary: #0055a0;
  --accent: #438bc4;
}
@media (prefers-color-scheme: light) {
  :root{
    --text: #272727;
  --background: #fffdf7;
  --primary: #8cc1e9;
  --dark: #12284b;
  --secondary: #0055a0;
  --accent: #438bc4;
  }
}
html, body {
  padding: 0px;
  font-family: Inter, system-ui, sans-serif;
  background: var(--background);
  color: var(--text);
}
.emphasis{
  font-family: 'Times New Roman', Times, serif;
}
/* NAV */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  align-self: left;
  color: #fffdf7;;
}


.nav-links a {
  margin-left: 20px;
  margin-right: 20px  ;
  color: var(--text);
  text-decoration: none;
  opacity: 0.95;
  
}
@media (prefers-color-scheme: light) {
  .nav-links a{
    margin-left: 20px;
    margin-right: 20px  ;
    color: var(--background);
    text-decoration: none;
    opacity: 0.95;
  }
}
.nav-links a:hover {
  opacity: 1;
  
}


/* BUTTONS */
.btn-primary {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background: var(--primary);
  color: var(--background);
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
}

.btn-small {
  padding: 8px 12px;
  background: var(--primary);
  border-radius: 8px;
  transition: transform 0.3s ease;
  color:  var(--text)!important;
}
@media (prefers-color-scheme: light) {
  .btn-small {
    padding: 8px 12px;
    background: var(--primary);
    border-radius: 8px;
    transition: transform 0.3s ease;
    color:  var(--background)!important;
}
}
.btn-small:hover{
  transform: scale(1.1);
}
.btn-link {
  padding: 8px 12px;
  background: var(--dark);
  border-radius: 8px;
  transition: transform 0.3s ease;
  color:  var(--text)!important;
}
@media (prefers-color-scheme: light) {
  .btn-link {
    padding: 8px 12px;
    background: var(--dark);
    border-radius: 8px;
    transition: transform 0.3s ease;
    color:  var(--background)!important;
}}
.btn-link:hover{
  transform: scale(1.1);
}
/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h2 {
  font-size: 42px;
}
@media (max-width: 768px) {
  .hero h2 {
    font-size: 28px;
  }

  .hero p {
    font-size: 14px;
  }
}

.hero p {
  opacity: 0.8;
  max-width: 600px;
  margin: 0 auto;
}

.trust {
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.6;
}

/* SECTIONS */
.section {
  padding: 60px 0px;
  width: 100%;
  text-align: center;
}

.section.alt {
  background: var(--dark);
  color:var(--text);
}
@media (prefers-color-scheme: light) {
  .section.alt {
    background: var(--dark);
    color:var(--background);
}}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media (prefers-color-scheme: light) {
  .grid {

    color:  var(--background)!important;
}}
.header{
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;

}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    gap: 10px;
    text-align: center;

  }

  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color:  #050315;
  }
}

.card {
  background: var(--secondary);
  padding: 20px;
  border-radius: 12px;
}

/* STEPS */
.steps {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .steps {
    flex-direction: column;
    gap: 15px;
  }
}

/* CTA */
.cta {
  text-align: center;
  padding: 80px 20px;
}

.footer {
  text-align: center;
  padding: 20px;
  opacity: 0.5;
}
.page {
  padding: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .page {
    width: 100%;
  }
}
.small-hero {
  padding: 60px 20px;
}

.muted {
  opacity: 0.6;
  font-size: 14px;
}

/* FORM CARD */
.form-card {
  background:var(--dark);
  padding: 30px;
  border-radius: 12px;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}
button {outline: none;}
.iframe {
  margin-top: 20px;
  border: none;
  border-radius: 10px;
}
.container {
  margin: 0 auto;
  padding: 0;
}
@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}

form input, form textarea {
  display: block;
  width: 95%;
  margin: 10px;
  padding: 10px;
  font-family: Inter, system-ui, sans-serif;
}

